{%- if node.name.namespaceNode %}{%- set fqn = '\\' ~ node.name.namespaceNode.name ~ '\\' ~ node.name.namespaceNode.name -%}{% endif -%}
<dl class="php {{ node.type }}">
    <dt class="sig sig-object php"
        {%- if not node.noindex %} id="{{ node.id }}"{% endif -%}>
        {% for modifier in node.modifiers -%}
            {{- renderNode(modifier) }}{{ ' ' -}}
        {%- endfor -%}
        <em class="property"><span class="pre">{{ node.type }}</span> </em>
        {% include "body/directive/php/partials/fullyQualifiedName.html.twig" with {'className': node.name, 'fqn': fqn} %}
        {%- if node.type == 'enum' and node.phpType -%}<span class="pre"> : {{ node.phpType }}</span> {% endif -%}
        {% include "body/directive/php/partials/linkToSnippet.html.twig" %}
    </dt>
    <dd>
        {% if node.name.namespaceNode %}
            <dl class="field-list simple">
                {% if node.name.namespaceNode %}
                    <dt class="field-even">Fully qualified name</dt>
                    <dd class="field-even">
                        {% include "body/directive/php/partials/codeStyle.html.twig" with {'code': fqn} %}
                    </dd>
                {% endif -%}
            </dl>
        {% endif -%}
        {{ renderNode(node.value) }}
    </dd>
</dl>
