<dl class="php {{ node.type }}">
    <dt class="sig sig-object php"
        {%- if not node.noindex %} id="{{ node.id }}"{% endif -%}>
        {% for modifier in node.modifiers -%}
            {{- renderNode(modifier) }}{{ ' ' -}}
        {%- endfor -%}
        <em class="property"><span class="pre">{{ node.type }}</span> </em>
        {{ renderNode(node.name) }} {%- if node.type == 'enum' and node.phpType -%}<span class="pre"> : {{ node.phpType }}</span> {% endif -%}
        {% include "body/directive/php/partials/linkToSnippet.html.twig" %}
    </dt>
    <dd>
        {{ renderNode(node.value) }}
    </dd>
</dl>
