<dl class="php const">
    <dt class="sig sig-object php"  {%- if not node.noindex %} id="{{ node.id }}"{% endif -%}>
        {% for modifier in node.modifiers -%}
            {{- renderNode(modifier) }}{{ ' ' -}}
        {%- endfor -%}
        {% if node.phpType -%}<span class="pre">{{ node.phpType }}</span> {% endif -%}
        <em class="property"><span class="pre">const</span></em>
        {{ renderNode(node.memberName) }}
        {% include "body/directive/php/partials/linkToSnippet.html.twig" %}
    </dt>
    <dd>{{ renderNode(node.value) }}</dd>
</dl>
